.presentacionCurso {
    display: grid;
    justify-content: center;
    grid-template-columns: 400px 400px 220px;
    grid-template-rows: 500px auto auto;
    gap: 10px;
    overflow: hidden;

    .presentacion {
        grid-column: 1/3;
        grid-row: 1/2;
        text-align: center;
        overflow: hidden;
        animation: from-left 2s ease;

        h1 {
            text-align: start;
            @include font(40px,600);
            position: relative;

            &:after {
                position: absolute;
                content: '';
                border-radius: 10px;
                background: $color-violet;
                bottom: 0;
                left: -10px;
                @include size(4px,100%);
            }
        }

        img {
            width: 100%;
        }
    }

    .info {
        margin: auto;
        grid-column: 3/4;
        grid-row: 1/2;
        animation: from-rigth 2s ease;

        h2 {
            margin: 10px 0 10px 0;
            @include titleGradient;
            @include textAnimation(30px,600,center,gradient,25s);
        }

        p {
            color: $color-text;
            font-size: 18px;
        }

        ul {
            li {
                display: grid;
                grid-template-columns: 30px 1fr;

                span {
                    color: $color-text;
                    font-size: 20px;
                }

                p {
                    color: $color-text;
                }
            }
        }
    }

    .requisitos {
        grid-column: 1/2;
        grid-row: 2/3;
        animation: from-left 2s ease;

        h2 {
            margin: 10px 0 10px 0;
            @include titleGradient;
            @include textAnimation(30px,600,start,gradient,20s);
        }

        ul {
            li {
                font-size: 18px;
                margin: 2px 0 2px 0;
                color: $color-text;
            }
        }
    }


    .objetivo {
        grid-column: 2/3;
        grid-row: 2/3;
        animation: from-left 2s ease;

        h2 {
            margin: 10px 0 10px 0;
            @include titleGradient;
            @include textAnimation(30px,600,start,gradient,20s);
        }

        ul {
            li {
                font-size: 18px;
                margin: 2px 0 2px 0;
                color: $color-text;
            }
        }
    }

    .temario {
        grid-column: 1/3;
        grid-row: 3/4;
        animation: from-left 2s ease;

        h2 {
            margin: 10px 0 10px 0;
            @include titleGradient;
            @include textAnimation(30px,600,start,gradient,20s);
        }

        ul {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: auto;
            gap: 5px;
            color: $color-text;

            li {
                font-size: 18px;
                margin: 2px 0 2px 0;
                color: $color-text;

                ul {
                    display: block;
                }
            }
        }
    }

    .masCursos {
        grid-column: 3/4;
        grid-row: 2/4;
        animation: from-rigth 2s ease;

        h2 {
            margin: 10px 0 10px 0;
            @include titleGradient;
            @include textAnimation(30px,600,center,gradient,20s);
        }

        .contenedor {
            .miniCard {
                display: flex;
                border-bottom: 1px solid $color-text;
                margin: 15px 0 15px 0;
                width: 240px;

                a {
                    .imgMini {
                        width: 135px;
                    }
                }

                p {
                    color: $color-text;

                    a {
                        text-decoration: none;
                        color: $color-text;
                        @include font(15px,600);
                    }
                }
            }
        }
    }
}

.opiniones {
    animation: from-front 2s ease;

    h2 {
        margin: 10px 0 10px 0;
        @include titleGradient;
        @include textAnimation(30px,600,center,gradient,20s);
    }

    .cajaContenedor {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .caja {
            background: $color-black;
            margin: 1rem;
            padding: 1rem;
            border: .1rem solid $color-text;
            border-radius: .5rem;
            display: flex;
            @include size(500px,250px);

            .user {
                text-align: center;

                img {
                    border-radius: 50%;
                    object-fit: cover;
                    margin-top: 2rem;
                    @include size(6rem,6rem);
                }

                h3 {
                    color: $color-text;
                    @include font(20px,200);
                }
            }

            .comments {
                display: flex;
                flex-direction: column;
                align-items: center;
                color: $color-text;

                p {
                    color: $color-text;
                    font-size: 18px;
                    padding: 1rem;
                }
            }
        }
    }
}