.teacherHeader {
    margin: auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;

    .text {
        width: 800px;
        animation: from-left 1s ease;

        h1 {
            @include titleGradient;
            @include font(45px,800);
            text-align: center;
        }

        p {
            font-size: 18px;
            color: $color-text;
        }

        article {
            text-align: center;
            margin-top: 50px;
            font-style: italic;
            font-weight: 600;
        }
    }

    img {
        width: 350px;
        animation: from-rigth 1s ease;
    }
}




.teacherContainer {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .teacherCard {
        width: 450px;
        margin: 20px;
        cursor: default;
        display: flex;
        animation: from-top 1s ease;

        img {
            border-radius: 50%;
            object-fit: cover;
            @include size(10rem,10rem);
        }

        .teacherInfo {
            margin: 15px;
            width: auto;
            align-self: center;

            p {
                &:nth-child(1) {
                    color: $color-violet;
                    line-height: 10px;
                    @include font(20px,800);
                }

                &:nth-child(2) {
                    color: #656565;
                    line-height: 0px;
                    @include font(15px,800);
                }

                &:nth-child(3) {
                    color: $color-text;
                    font-size: 15px;
                }

            }
        }
    }

}