main {
    margin-top: 100px;

    h1 {
        margin: 50px;
        animation: from-front 1.5s ease;
        @include titleGradient;
        @include textAnimation(80px,800,center,elevar,3s);
    }
}

.mainBox {
    overflow: hidden;
    img {
        width: 500px;
        animation: from-left 1s ease;

        &:nth-child(2) {
            animation: from-rigth 1s ease;
        }
    }

    .text {
        width: 600px;
        margin: auto;
        animation: from-left 1s ease;

        &:nth-child(2) {
            animation: from-rigth 1s ease;
        }

        h2 {
            color: $color-violet;
            text-align: center;
            @include font(25px,400);

            span {
                @include font(35px,800);
            }
        }

        p {
            color: $color-text;
            @include font(20px,300);

            span {
                @include font(25px,800);
            }
        }
    }

}


.cursos {
    animation: from-top 1s ease;
    h2 {
        @include titleGradient;
        @include textAnimation(50px,800,center,elevar,3s);
    }

    .containerCard {
        @include size(320px,420px);
        background: $colorGradient;
        background-repeat: repeat;
        position: relative;
        overflow: hidden;
        border-radius: 20px;
        transition: all 400ms ease;
        box-shadow: 2px 2px 5px rgb(255, 255, 255);
        animation: gradient 20s linear infinite;


        &:hover {
            box-shadow: 5px 5px 15px rgba(255, 255, 255);
            transform: translateY(-7%);
        }

        .card {
            position: absolute;
            inset: 3px;
            padding: 20px 10px 10px;
            border-radius: 20px;
            background: $color-black;
            cursor: default;
            overflow: hidden;


            a {
                img {
                    @include size(100%,150px);
                    border-radius: 15px 15px 0px 0px;
                }
            }

            .cardContenido {
                padding: 15px;
                text-align: center;

                h3 {
                    color: $color-violet;
                    margin-top: 0;
                }

                p {
                    width: auto;
                    padding: auto;
                    line-height: 1.5;
                    color: $color-text;
                }

                a {
                    text-decoration: none;
                    display: inline-block;
                    padding: 10px;
                    color: $color-violet;
                    border: 1px solid $color-violet;
                    border-radius: 10px;
                    transition: all 1s ease;
                    z-index: 2;
                    position: relative;
                    overflow: hidden;

                    &:before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        background-color: $color-violet;
                        z-index: -1;
                        transform: translateX(-100%);
                        transition: all 1s;
                        @include size(100%,100%);
                    }

                    &:hover {
                        color: $color-black;

                        &:before {
                            transform: translateX(0%);
                        }
                    }
                }
            }
        }
    }

}