.navbar {
    background-color: rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}

.dropdown-item {
    &:hover {
        background: #656565;
        border: 2px solid #111;
    }

}