@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
@keyframes from-top {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes from-rigth {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes from-left {
  0% {
    opacity: 0;
    transform: translateX(-80px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes from-front {
  0% {
    opacity: 0;
    transform: translateZ(10px);
  }
  100% {
    opacity: 1;
    transform: translateZ(0px);
  }
}
@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: -80rem 0;
  }
  100% {
    background-position: 0 0;
  }
}
@keyframes elevar {
  0% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0rem);
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-padding-top: 5rem;
}

body {
  overflow-x: hidden;
  background-image: url(../imagenes/fondo.png);
  scroll-padding-top: 5rem;
}

.notAvailed {
  opacity: 0.5;
}

.navbar {
  background-color: transparent;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}

.dropdown-item:hover {
  background: #656565;
  transition: all 0.5s ease;
}

main {
  margin-top: 100px;
}
main h1 {
  margin: 50px;
  animation: from-front 1.5s ease;
  background-image: linear-gradient(90deg, rgb(178, 143, 230) 2%, rgb(137, 68, 158) 13%, rgb(125, 46, 136) 22%, rgb(109, 16, 106) 38%, rgb(118, 39, 126) 59%, rgb(147, 89, 176) 77%, rgb(178, 143, 230) 90%);
  background-color: #6D106A;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 80px;
  font-weight: 800;
  text-align: center;
  animation: elevar 3s linear infinite;
  cursor: default;
}

.mainBox {
  overflow: hidden;
}
.mainBox img {
  width: 500px;
  animation: from-left 1s ease;
}
.mainBox img:nth-child(2) {
  animation: from-rigth 1s ease;
}
.mainBox .text {
  width: 600px;
  margin: auto;
  animation: from-left 1s ease;
}
.mainBox .text:nth-child(2) {
  animation: from-rigth 1s ease;
}
.mainBox .text h2 {
  color: #6D106A;
  text-align: center;
  font-size: 25px;
  font-weight: 400;
}
.mainBox .text h2 span {
  font-size: 35px;
  font-weight: 800;
}
.mainBox .text p {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}
.mainBox .text p span {
  font-size: 25px;
  font-weight: 800;
}

.cursos {
  animation: from-top 1s ease;
}
.cursos h2 {
  background-image: linear-gradient(90deg, rgb(178, 143, 230) 2%, rgb(137, 68, 158) 13%, rgb(125, 46, 136) 22%, rgb(109, 16, 106) 38%, rgb(118, 39, 126) 59%, rgb(147, 89, 176) 77%, rgb(178, 143, 230) 90%);
  background-color: #6D106A;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  animation: elevar 3s linear infinite;
  cursor: default;
}
.cursos .containerCard {
  width: 320px;
  height: 420px;
  background: linear-gradient(90deg, rgb(178, 143, 230) 2%, rgb(137, 68, 158) 13%, rgb(125, 46, 136) 22%, rgb(109, 16, 106) 38%, rgb(118, 39, 126) 59%, rgb(147, 89, 176) 77%, rgb(178, 143, 230) 90%);
  background-repeat: repeat;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  transition: all 400ms ease;
  box-shadow: 2px 2px 5px rgb(255, 255, 255);
  animation: gradient 20s linear infinite;
}
.cursos .containerCard:hover {
  box-shadow: 5px 5px 15px rgb(255, 255, 255);
  transform: translateY(-7%);
}
.cursos .containerCard .card {
  position: absolute;
  inset: 3px;
  padding: 20px 10px 10px;
  border-radius: 20px;
  background: #111;
  cursor: default;
  overflow: hidden;
}
.cursos .containerCard .card a img {
  width: 100%;
  height: 150px;
  border-radius: 15px 15px 0px 0px;
}
.cursos .containerCard .card .cardContenido {
  padding: 15px;
  text-align: center;
}
.cursos .containerCard .card .cardContenido h3 {
  color: #6D106A;
  margin-top: 0;
}
.cursos .containerCard .card .cardContenido p {
  width: auto;
  padding: auto;
  line-height: 1.5;
  color: #fff;
}
.cursos .containerCard .card .cardContenido a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  color: #6D106A;
  border: 1px solid #6D106A;
  border-radius: 10px;
  transition: all 1s ease;
  z-index: 2;
  position: relative;
  overflow: hidden;
}
.cursos .containerCard .card .cardContenido a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: #6D106A;
  z-index: -1;
  transform: translateX(-100%);
  transition: all 1s;
  width: 100%;
  height: 100%;
}
.cursos .containerCard .card .cardContenido a:hover {
  color: #111;
}
.cursos .containerCard .card .cardContenido a:hover:before {
  transform: translateX(0%);
}

.teacherHeader {
  margin: auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}
.teacherHeader .text {
  width: 800px;
  animation: from-left 1s ease;
}
.teacherHeader .text h1 {
  background-image: linear-gradient(90deg, rgb(178, 143, 230) 2%, rgb(137, 68, 158) 13%, rgb(125, 46, 136) 22%, rgb(109, 16, 106) 38%, rgb(118, 39, 126) 59%, rgb(147, 89, 176) 77%, rgb(178, 143, 230) 90%);
  background-color: #6D106A;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 45px;
  font-weight: 800;
  text-align: center;
}
.teacherHeader .text p {
  font-size: 18px;
  color: #fff;
}
.teacherHeader .text article {
  text-align: center;
  margin-top: 50px;
  font-style: italic;
  font-weight: 600;
}
.teacherHeader img {
  width: 350px;
  animation: from-rigth 1s ease;
}

.teacherContainer {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.teacherContainer .teacherCard {
  width: 450px;
  margin: 20px;
  cursor: default;
  display: flex;
  animation: from-top 1s ease;
}
.teacherContainer .teacherCard img {
  border-radius: 50%;
  object-fit: cover;
  width: 10rem;
  height: 10rem;
}
.teacherContainer .teacherCard .teacherInfo {
  margin: 15px;
  width: auto;
  align-self: center;
}
.teacherContainer .teacherCard .teacherInfo p:nth-child(1) {
  color: #6D106A;
  line-height: 10px;
  font-size: 20px;
  font-weight: 800;
}
.teacherContainer .teacherCard .teacherInfo p:nth-child(2) {
  color: #656565;
  line-height: 0px;
  font-size: 15px;
  font-weight: 800;
}
.teacherContainer .teacherCard .teacherInfo p:nth-child(3) {
  color: #fff;
  font-size: 15px;
}

.presentacionCurso {
  display: grid;
  justify-content: center;
  grid-template-columns: 400px 400px 220px;
  grid-template-rows: 500px auto auto;
  gap: 10px;
  overflow: hidden;
}
.presentacionCurso .presentacion {
  grid-column: 1/3;
  grid-row: 1/2;
  text-align: center;
  overflow: hidden;
  animation: from-left 2s ease;
}
.presentacionCurso .presentacion h1 {
  text-align: start;
  font-size: 40px;
  font-weight: 600;
  position: relative;
}
.presentacionCurso .presentacion h1:after {
  position: absolute;
  content: "";
  border-radius: 10px;
  background: #6D106A;
  bottom: 0;
  left: -10px;
  width: 4px;
  height: 100%;
}
.presentacionCurso .presentacion img {
  width: 100%;
}
.presentacionCurso .info {
  margin: auto;
  grid-column: 3/4;
  grid-row: 1/2;
  animation: from-rigth 2s ease;
}
.presentacionCurso .info h2 {
  margin: 10px 0 10px 0;
  background-image: linear-gradient(90deg, rgb(178, 143, 230) 2%, rgb(137, 68, 158) 13%, rgb(125, 46, 136) 22%, rgb(109, 16, 106) 38%, rgb(118, 39, 126) 59%, rgb(147, 89, 176) 77%, rgb(178, 143, 230) 90%);
  background-color: #6D106A;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  animation: gradient 25s linear infinite;
  cursor: default;
}
.presentacionCurso .info p {
  color: #fff;
  font-size: 18px;
}
.presentacionCurso .info ul li {
  display: grid;
  grid-template-columns: 30px 1fr;
}
.presentacionCurso .info ul li span {
  color: #fff;
  font-size: 20px;
}
.presentacionCurso .info ul li p {
  color: #fff;
}
.presentacionCurso .requisitos {
  grid-column: 1/2;
  grid-row: 2/3;
  animation: from-left 2s ease;
}
.presentacionCurso .requisitos h2 {
  margin: 10px 0 10px 0;
  background-image: linear-gradient(90deg, rgb(178, 143, 230) 2%, rgb(137, 68, 158) 13%, rgb(125, 46, 136) 22%, rgb(109, 16, 106) 38%, rgb(118, 39, 126) 59%, rgb(147, 89, 176) 77%, rgb(178, 143, 230) 90%);
  background-color: #6D106A;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 30px;
  font-weight: 600;
  text-align: start;
  animation: gradient 20s linear infinite;
  cursor: default;
}
.presentacionCurso .requisitos ul li {
  font-size: 18px;
  margin: 2px 0 2px 0;
  color: #fff;
}
.presentacionCurso .objetivo {
  grid-column: 2/3;
  grid-row: 2/3;
  animation: from-left 2s ease;
}
.presentacionCurso .objetivo h2 {
  margin: 10px 0 10px 0;
  background-image: linear-gradient(90deg, rgb(178, 143, 230) 2%, rgb(137, 68, 158) 13%, rgb(125, 46, 136) 22%, rgb(109, 16, 106) 38%, rgb(118, 39, 126) 59%, rgb(147, 89, 176) 77%, rgb(178, 143, 230) 90%);
  background-color: #6D106A;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 30px;
  font-weight: 600;
  text-align: start;
  animation: gradient 20s linear infinite;
  cursor: default;
}
.presentacionCurso .objetivo ul li {
  font-size: 18px;
  margin: 2px 0 2px 0;
  color: #fff;
}
.presentacionCurso .temario {
  grid-column: 1/3;
  grid-row: 3/4;
  animation: from-left 2s ease;
}
.presentacionCurso .temario h2 {
  margin: 10px 0 10px 0;
  background-image: linear-gradient(90deg, rgb(178, 143, 230) 2%, rgb(137, 68, 158) 13%, rgb(125, 46, 136) 22%, rgb(109, 16, 106) 38%, rgb(118, 39, 126) 59%, rgb(147, 89, 176) 77%, rgb(178, 143, 230) 90%);
  background-color: #6D106A;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 30px;
  font-weight: 600;
  text-align: start;
  animation: gradient 20s linear infinite;
  cursor: default;
}
.presentacionCurso .temario ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 5px;
  color: #fff;
}
.presentacionCurso .temario ul li {
  font-size: 18px;
  margin: 2px 0 2px 0;
  color: #fff;
}
.presentacionCurso .temario ul li ul {
  display: block;
}
.presentacionCurso .masCursos {
  grid-column: 3/4;
  grid-row: 2/4;
  animation: from-rigth 2s ease;
}
.presentacionCurso .masCursos h2 {
  margin: 10px 0 10px 0;
  background-image: linear-gradient(90deg, rgb(178, 143, 230) 2%, rgb(137, 68, 158) 13%, rgb(125, 46, 136) 22%, rgb(109, 16, 106) 38%, rgb(118, 39, 126) 59%, rgb(147, 89, 176) 77%, rgb(178, 143, 230) 90%);
  background-color: #6D106A;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  animation: gradient 20s linear infinite;
  cursor: default;
}
.presentacionCurso .masCursos .contenedor .miniCard {
  display: flex;
  border-bottom: 1px solid #fff;
  margin: 15px 0 15px 0;
  width: 240px;
}
.presentacionCurso .masCursos .contenedor .miniCard a .imgMini {
  width: 135px;
}
.presentacionCurso .masCursos .contenedor .miniCard p {
  color: #fff;
}
.presentacionCurso .masCursos .contenedor .miniCard p a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}

.opiniones {
  animation: from-front 2s ease;
}
.opiniones h2 {
  margin: 10px 0 10px 0;
  background-image: linear-gradient(90deg, rgb(178, 143, 230) 2%, rgb(137, 68, 158) 13%, rgb(125, 46, 136) 22%, rgb(109, 16, 106) 38%, rgb(118, 39, 126) 59%, rgb(147, 89, 176) 77%, rgb(178, 143, 230) 90%);
  background-color: #6D106A;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  animation: gradient 20s linear infinite;
  cursor: default;
}
.opiniones .cajaContenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.opiniones .cajaContenedor .caja {
  background: #111;
  margin: 1rem;
  padding: 1rem;
  border: 0.1rem solid #fff;
  border-radius: 0.5rem;
  display: flex;
  width: 500px;
  height: 250px;
}
.opiniones .cajaContenedor .caja .user {
  text-align: center;
}
.opiniones .cajaContenedor .caja .user img {
  border-radius: 50%;
  object-fit: cover;
  margin-top: 2rem;
  width: 6rem;
  height: 6rem;
}
.opiniones .cajaContenedor .caja .user h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 200;
}
.opiniones .cajaContenedor .caja .comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.opiniones .cajaContenedor .caja .comments p {
  color: #fff;
  font-size: 18px;
  padding: 1rem;
}

footer {
  margin-top: 100px;
}
footer .footerContent {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-auto-rows: auto;
  gap: 20px;
}
footer .footerContent .sec {
  padding: 10px 20px;
}
footer .footerContent .sec h2 {
  font-size: 1.125rem;
  font-weight: 600;
  color: #6D106A;
  text-transform: uppercase;
  cursor: default;
}
footer .footerContent .sec .content {
  margin-top: 20px;
  position: relative;
}
footer .footerContent .sec .content:before {
  position: absolute;
  content: "";
  top: -10px;
  background: #1a1a1a;
  width: 100%;
  height: 2px;
}
footer .footerContent .sec .content:after {
  position: absolute;
  content: "";
  background: #6D106A;
  top: -10px;
  width: 15%;
  height: 2px;
}
footer .footerContent .abouts .content p {
  text-align: justify;
  cursor: default;
}
footer .footerContent .abouts .content .social {
  margin-top: 20px;
}
footer .footerContent .abouts .content .social a span {
  width: 40px;
  height: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  color: #fff;
  transition: all 1s ease;
}
footer .footerContent .abouts .content .social a span:hover {
  background-color: #656565;
}
footer .footerContent .quicklinks .content li {
  list-style: none;
}
footer .footerContent .quicklinks .content li a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
  transition: all 350ms ease;
}
footer .footerContent .quicklinks .content li a:hover {
  color: #6D106A;
}
footer .footerContent .location .content ul li {
  display: grid;
  grid-template-columns: 30px 1fr;
  margin-bottom: 16px;
}
footer .footerContent .location .content ul li span {
  cursor: default;
}
footer .footerContent .location .content ul li span .fa {
  font-size: 20px;
}
footer .footerContent .location .content ul li p a {
  text-decoration: none;
  color: #fff;
  transition: all 350ms ease;
}
footer .footerContent .location .content ul li p a:hover {
  color: #6D106A;
}
footer .footerContent .contact .content form .text {
  font-size: 1.0625rem;
  margin-bottom: 2px;
  color: #656565;
  cursor: default;
}
footer .footerContent .contact .content form .email input {
  width: 100%;
  height: 35px;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
  color: #fff;
}
footer .footerContent .contact .content form .msg {
  margin-top: 10px;
}
footer .footerContent .contact .content form .msg textarea {
  width: 100%;
  font-size: 1.0625rem;
  background: #151515;
  padding-left: 10px;
  border: 1px solid #222222;
  color: #fff;
}
footer .footerContent .contact .content form .botn {
  margin-top: 10px;
}
footer .footerContent .contact .content form .botn button {
  border: none;
  outline: none;
  background: #fff;
  color: #111;
  cursor: pointer;
  font-size: 15px;
  font-weight: 650;
  width: 100%;
  height: 40px;
}
footer .bottom {
  padding: 5px;
  font-size: 15px;
  background: #151515;
  color: #656565;
  text-align: center;
  cursor: default;
}

@media (max-width: 1090px) {
  .mainBox .text {
    margin: 20px;
  }
  .presentacionCurso {
    grid-template-columns: 45% 45%;
    grid-template-rows: 500px 340px 500px 520px 400px;
  }
  .presentacionCurso .presentacion img {
    width: 80%;
  }
  .presentacionCurso .info {
    grid-column: 1/3;
    grid-row: 2/3;
    margin: 0;
  }
  .presentacionCurso .info h2 {
    text-align: start;
  }
  .presentacionCurso .info ul li {
    width: 90%;
    border-bottom: 1px solid #656565;
  }
  .presentacionCurso .objetivo,
  .presentacionCurso .requisitos {
    grid-row: 3/4;
  }
  .presentacionCurso .temario {
    grid-row: 4/5;
  }
  .presentacionCurso .masCursos {
    grid-column: 1/3;
    grid-row: 5/6;
  }
  .presentacionCurso .masCursos h2 {
    text-align: start;
  }
  .presentacionCurso .masCursos .contenedor {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 991px) {
  .dropdown-menu {
    height: 140px;
    overflow-y: auto;
  }
  .main h1 {
    font-size: 60px;
    font-weight: 700;
  }
  .main .mainBox .text h2 {
    font-size: 18px;
  }
  .main .mainBox .text h2 span {
    font-size: 24px;
    font-weight: 700;
  }
  .main .mainBox .text p {
    font-size: 15px;
  }
  .main .mainBox .text p span {
    font-size: 20px;
    font-weight: 700;
  }
  .teacherHeader .text {
    width: 50%;
  }
  .teacherHeader .text h1 {
    font-size: 35px;
    font-weight: 700;
  }
  .teacherHeader .text p {
    font-size: 15px;
  }
  .teacherHeader .text article {
    margin-top: 40px;
  }
  .teacherHeader img {
    width: 40%;
  }
  footer .footerContent {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 900px) {
  .mainBox img {
    width: 55%;
  }
  .presentacionCurso {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    gap: 0;
    margin: 80px 10px 0 10px;
  }
  .presentacionCurso .presentacion img {
    width: 100%;
  }
  .presentacionCurso .info {
    grid-column: 1/2;
  }
  .presentacionCurso .requisitos {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .presentacionCurso .objetivo {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .presentacionCurso .temario {
    grid-row: 5/6;
  }
  .presentacionCurso .temario ul {
    grid-template-columns: repeat(2, 1fr);
  }
  .presentacionCurso .masCursos {
    grid-column: 1/2;
    grid-row: 6/7;
  }
  .presentacionCurso .temario ul li,
  .presentacionCurso .objetivo ul li,
  .presentacionCurso .requisitos ul li {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .presentacionCurso .presentacion h1 {
    font-size: 25px;
  }
  .presentacionCurso .info h2 {
    font-size: 25px;
  }
  .presentacionCurso .info p {
    font-size: 15px;
  }
  .presentacionCurso .requisitos {
    font-size: 15px;
  }
  .presentacionCurso .requisitos h2 {
    font-size: 25px;
  }
  .presentacionCurso .objetivo {
    font-size: 15px;
  }
  .presentacionCurso .objetivo h2 {
    font-size: 25px;
  }
  .presentacionCurso .temario {
    font-size: 15px;
  }
  .presentacionCurso .temario h2 {
    font-size: 25px;
  }
  .presentacionCurso .masCursos h2 {
    font-size: 25px;
  }
  .opiniones h2 {
    font-size: 25px;
  }
  .teacherHeader {
    margin: auto;
    width: 90%;
    flex-direction: column-reverse;
  }
  .teacherHeader .text {
    width: 90%;
  }
  .teacherHeader .text h1 {
    font-size: 30px;
    font-weight: 600;
  }
  .teacherHeader .text p {
    font-size: 16px;
  }
  .teacherHeader img {
    width: 50%;
  }
  footer .footerContent {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 550px) {
  .cursos h2 {
    font-size: 30px;
  }
  .cursos .containerCard {
    width: 80%;
  }
  .main h1 {
    font-size: 30px;
  }
  .main .mainBox .text {
    width: 90%;
    font-size: 16px;
  }
  .presentacionCurso .temario ul {
    grid-template-columns: repeat(1, 1fr);
  }
  .opiniones .cajaContenedor .caja {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .teacherHeader img {
    width: 60%;
  }
  .teacherContainer .teacherCard {
    display: inline-block;
    text-align: center;
  }
  .teacherContainer .teacherCard img {
    border-radius: 50%;
    object-fit: cover;
    width: 8rem;
    height: 8rem;
  }
  .teacherContainer .teacherCard .teacherinfo p:nth-child(1) {
    line-height: 20px;
    font-size: 16px;
    font-weight: 500;
  }
  .teacherContainer .teacherCard .teacherinfo p:nth-child(2) {
    font-size: 14px;
    font-weight: 100;
  }
  .teacherContainer .teacherCard .teacherinfo p:nth-child(3) {
    font-size: 13px;
  }
}/*# sourceMappingURL=style.css.map */